* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

:root {
    --clr-gold: #DCC48E;
    --clr-beige: #EAEFD3;
    --clr-purple: #27233A;
}

body {
    background-color: #58483c; 
    color: #a6df6c;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color:rgb(223, 223, 116);
    color: rgb(216, 85, 10);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones {
    margin-bottom: 2rem;
}

.marcador {
    background-color:rgb(223, 223, 116) ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    color:rgb(216,85,10);
    font-weight: 600;
    margin-bottom: 3rem;
}

.marcador .nombre {
    position: absolute;
    color: rgb(223,223,116);
    background-color: #58483c;
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid  rgb(223,223,116);

}

.marcador .nombre-jugador {
    right: 85%;
}

.marcador .nombre-computadora {
    left: 85%;
}

.marcador .puntos {
    font-size: 1.6rem;
}

.elegi-tu-arma {
    margin-bottom: 2rem;
}

.elegi-tu-arma h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}


.arma {
    font-size: 2rem;
    background-color:#d3ccc6;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.mensaje {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion {
    color:#58483c;
    background-color: rgb(221, 194, 41);
    border-radius: .25rem;
    padding-inline: .25rem;
}

.btn {
    border: 0;
    line-height: 1;
    background-color:#d3ccc6;
    color: #a84f0b ;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.disabled {
    
    display: none;
}
button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  body {
    background: #000;
  }
  
  reiniciar {
    position: absolute;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    
    height: 4em;
    width: 7em;
    
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }